<div id="<%= dom_id list %>" style="color: cyan" >
        <% if list.completed  %>

      <td class="table-success striker " ><%= list.description %></td>
      <% else %> 
        <td class="table-danger"><%= list.description %></td>
          <% end %>
    <td>

</div>
