<div class='to_image_background'>
<div class="text-middle center selector-for-some-widget">
<h1>Editing Task</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Edit my item", @list %> |
  <%= link_to "Back to lists", lists_path %>
</div>
</div>
</div>