<div class='moana_image_background'>
<div class="text-center moana_box">

<h1>Editing Task</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Edit my item", @list %> |
  <%= link_to "Back to lists", lists_path %>
</div>
</div>
</div>