<div class='bruno_image_background'>
<div class="centered bruno_box">
<h1 class= "title_new_form" >New List</h1>


<tr >
<%= render "form", list: @list %>
<br>
<%= link_to "Go Home", lists_path, class:"a btn-default button_list"  %>

</tr>
</div>
</div>
