<div class='bruno_image_background'>
<div class="card text-center bruno_box">
<h1 style="color: black" >New list</h1>

<%= render "form", list: @list %>

<br>

<div>
  <%= link_to "Back to lists", lists_path %>
</div>
</div>
